<div class="card">
  <div class="card-header">Selam</div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label>Client</label>
        <input class="form-control" type="text">
      </div>

      <div class="form-group">
        <label>Meeting Title</label>
        <input class="form-control" type="text">
      </div>

      <div class="form-group-inline">
        <label>Dates</label>
        <input class="form-control col-6" type="text">
        <input class="form-control col-6" type="text">
      </div>
    </form>
  </div>
  <div class="card-footer"></div>
</div>







<!-- <p>Example of the range selection</p>

<ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
</ngb-datepicker>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

<hr>

<pre>From: {{ fromDate | json }} </pre>
<pre>To: {{ toDate | json }} </pre>
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [displayMonths]="displayMonths" [navigation]="navigation" [outsideDays]="outsideDays"
             [showWeekNumbers]="showWeekNumbers" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form> -->